<h1>Angular Advanced</h1>
<!-- <app-heart [liked]="false" [counter]="10" (like)="onLike($event)"></app-heart>
<app-heart [liked]="true" [counter]="5" (like)="onLike($event)"></app-heart>
<app-heart [liked]="false" [counter]="2" (like)="onLike($event)"></app-heart> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-custom-directives></app-custom-directives> -->

<!-- <app-pipe></app-pipe> -->

<!-- <app-accordion title="accordion 1" #myAccordion>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis aliquid illum velit voluptatibus eligendi sint natus voluptas, expedita corporis labore soluta id facilis exercitationem molestiae eius veritatis fugiat esse.</app-accordion> -->
<!-- <button (click)="toggleAccordion()"> toggle accordion</button> -->

<app-rxjs></app-rxjs>

<!-- <ul>
  <li><a routerLink="" routerLinkActive="link--active" [routerLinkActiveOptions]="{exact:true}" >Home</a></li>
  <li><a routerLink="/user" routerLinkActive="link--active">user</a></li>
  <li> <a routerLink="/notfound" routerLinkActive="link--active">not found</a></li>
</ul>

<router-outlet></router-outlet> -->
